[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-cowsay = "*"
flake8 = "*"
pydocstyle = "*"
sphinx = "*"

[dev-packages]

[requires]
python_version = "3.11"
